* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    /* Suaviza efecto entre el origen/destino, por defecto es auto */
    scroll-behavior: smooth;
}

body {
    padding-top: 70px;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    color: #555555;
}

h2 {
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 3px;
    padding: 0.6rem 0;
}

p {
    color: #555555;
}

.line-horizontal {
    margin-top: 5%;
}

/* ==================== HEADER ==================== */

.header {
    width: 100%;
    height: 70px;
    background-color: #184d47;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 800;
}

.header__brand {
    color: #ffffff;
    margin-left: 1.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.3rem;
}

.menu {
    list-style: none;
    display: inherit;
    align-items: inherit;
}

.menu__link {
    display: block;
    text-decoration: none;
    color: #ebf3f5;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
}

.menu__link:hover, .menu__link:active {
    background-color: #10643d;
    transition: 0.4s;
    border-radius: 1rem;
}

.menu__img  {
    width: 25px;
    height: 25px;
}

.flag {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

.flag__link {
    margin: 0;
    padding: 0;
}

/* ==================== BOTON HAMBURGER ==================== */

.btn-hamburger {
    width: 30px;
    margin: 0;
    display: none;
    cursor: pointer;
    z-index: 1000;
}

.line-1, .line-2, .line-3 {
    width: inherit;
    height: 5px;
    background-color: #ffffff;
    margin: 3px 0px;
    transition: 0.5s;
}

.active .line-1 {
    transform: rotate(-45deg) translate(-2px, -7px);
    position: absolute;
} 

.active .line-2 {
    opacity: 0;
}

.active .line-3 {
    transform: rotate(45deg) translate(-13px, -6px);
    position: absolute;
}

/* ==================== MAIN ==================== */

.main {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    overflow: hidden;
    background-color: rgba(4, 128, 66, 0.6);
}

.main ul {
    display: flex;
    width: 500%;
    height: inherit;
    animation: change 15s infinite alternate linear;
}

.main li {
    width: 100%;
    height: inherit;
    list-style: none;
}

.main img {
    width: inherit;
    height: inherit;
}

@keyframes change {
    0% { margin-left: 0; }
    15% { margin-left: 0; }

    20% { margin-left: -100%; }
    40% { margin-left: -100%; }

    45% { margin-left: -200%; }
    60% { margin-left: -200%; }

    65% { margin-left: -300%; }
    80% { margin-left: -300%; }

    85% { margin-left: -400%; }
    100% { margin-left: -400%; }
}

.main-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 22, 40, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content h1, 
.main-content h3 {  
    margin: 0;
    padding: 0;
    font-weight: bold;         
    letter-spacing: 3px;         
    text-align: center;
}

.main-content h1 {          
    font-size: 8vw;
    color: #ffffff;
}

.main-content h3 {
    font-size: 2vw;    
    color: #000000;
}

.link {
    margin-top: 40px;
    font-size: 1.2rem; 
}

.link__text {
    text-decoration: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border: 1px solid #e61414;
    background-color: #e61414;
    color: #ffffff;  
    border-radius: 5px; 
}

.link__arrow {
    margin-left: 5px;
}

.link__text:hover {
    border: 1px solid #880606;
    background-color: #880606;
}

/* ==================== CATALOG ==================== */

.catalog {
    padding: 4.8rem 3.2rem 0px 3.2rem;
}

.catalog__items {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.card {
    border: 1px solid #999999;
    width: 230px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.figure {
    height: 180px;
    margin: auto;
}

.figure__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card__offer {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #e40017;
    color: #ffffff;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.6px;
    transform: rotate(-45deg);
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.price__normal {
    font-size: 1.8rem;
    font-weight: bold;
    color: #555555;
}

.price__normal--red {
    color: #e40017;
}

.price__discount {
    font-size: 1.5rem;
    font-weight: normal;
    color: #555555;
    text-decoration: line-through;
}

.price__line {
    margin: 0 5px;
}

.card__text {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 10px;
}

.button  {
    padding: 0.5rem 2rem;
    border: 1px solid #184d47;
    background-color: #184d47;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.button:hover {
    border: 1px solid #10643d;
    background-color: #10643d;
}

.button__link {
    color: #ffffff;
    text-decoration: none;
}

/* ==================== PRODUCTS ==================== */

.products {
    padding: 4.8rem 3.2rem 0px 3.2rem;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
}

.product-text {
    width: 68%;
    height: inherit;
}

.product-title {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.product-description {
    line-height: 1.5rem;
}

.product-container_image {
    width: 28%;
    height: inherit;
    margin: 0;
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

/* ==================== ABOUT-US ==================== */

.about-us {
    padding: 4.8rem 3.2rem 0px 3.2rem;
}

.about {
    padding: 3.8rem 6.3rem 0px 6.3rem;
    text-align: center;
}

.about-company {
    text-align : justify;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.about-company_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
}

.about-mision_vision {
    width: 45%;
    text-align: center;
}

.about-mision_vision h3 {
    margin-bottom: 1.9rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.about-mision_vision p {
    line-height: 1.8rem;
    font-size: 1.1rem;
}

.about-political {
    padding: 3.8rem 3.2rem 0px 3.2rem;
}

.about-political h3 {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
}

.about-political_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3%;
}

.about-political_details {
    width: 30%;
    text-align: center;
}

.about-political_details h4 {
    padding: 0.63rem 0px 1.3rem 0px;
    letter-spacing: 2px;
    text-align: center;
}

.about-political_details p {
    font-size: 1rem;
}

/* ==================== CONTACTS ==================== */

.contacts {
    padding: 4.8rem 3.2rem 2rem 3.2rem;
    background-color: #111111;
    margin-top: 5%;
}

.contacts h2 {
    color: #ebf3f5;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    color: #ebf3f5;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}

select, input, textarea  {
    margin-bottom: 1.3rem;
    border: solid 1px #333333;
    border-radius: 5px;
    padding: 0.63rem;
    outline: none;
    width: 100%;
    font-size: 1rem;
}

textarea {
    /* No se pueda estirar la caja */
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.contact-menu {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.contact-menu li {
    list-style: none;
    display: flex;
    align-items: center;
}

.contact-menu li img {
    width: 15px;
    height: 15px;
}

.contact-menu li p {
    font-size: 1rem;
    color: #ebf3f5;
    margin-left: 5px;
    line-height: 150%;
}

.contact-map {
    width: 25%
}

.contact-map img {
    width: 100%;
}

/* ==================== FOOTER ==================== */

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 2rem 1rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.footer p {
    text-align: center;
    color: #ffffff;
    font-size: bold;
}

/* ==================== WRAPPER ==================== */

.wrapper {
    max-width: 1024px; 
    flex: 1; 
    height: inherit;
    margin: 0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    align-items: inherit;
}

/* ==================== MEDIA QUERIES ==================== */

@media screen and (max-width: 950px) {
    .product {
        flex-direction: column;
        align-items: center;
    }

    .product-text {
        width: 100%;
        margin-bottom: 5%;
    }

    .product-title {
        text-align: center;
    }

    .product-container_image {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 1rem;
    }

    .header__brand, .container-btn  {
        margin: 0;
    }

    .btn-hamburger {
        display: block;
        margin-left: 0.5rem;
    }

    .menu {
        position: absolute;
        z-index: 900;
        top: -200vh;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color:rgba(41, 41, 41, 0.9);
        text-align: center;
        transition: all 1s;
        /* flex-direction: column; */
    }

    .menu.show {
        display: block;
        top: 60px;
    }

    .menu a {
        margin-top: 1rem;
        line-height: 1rem;
        font-size: 1.5rem;
        font-weight: normal;
        border-radius: 0;    
        letter-spacing: 1px;
    }

    .products {
        padding: 3.8rem 2.5rem 0px 2.5rem;
    }

    .product-container_image {
        margin-bottom: 5%;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        width: 100%;
    }

    .contact-menu {
        margin: 3rem 0;
    }

    .contact-menu li {
        justify-content: center;
    }

    .contact-menu li p {
        text-align: center;
    }

    .contact-map {
        width: 60%;
    }

    .footer {
        padding: 1rem;
    }
}

@media screen and (max-width: 300px) {
    
}