* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Suaviza efecto entre el origen/destino, por defecto es auto */
html {
    scroll-behavior: smooth;
}

body {
    padding-top: 60px;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    color: #555555;
}

h2 {
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 3px;
    padding: 0.6rem 0;
}

p {
    color: #555555;
}

/* --------------- HEADER --------------- */

.header {
    background-color: #184d47;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
}

.brand {
    color: #ffffff;
    margin-left: 1.3rem;
    font-size: 1.9rem;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    list-style: none;
    display: flex;
}

.menu-items li {
    border-radius: 1rem;
}

.menu-items li a {
    display: block;
    /* Quita el underline que viene por defecto */
    text-decoration: none;
    color: #ebf3f5;
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
}

.menu-items li:hover, li:active {
    background-color: #10643d;
    transition: 0.4s;
}

.header figure {
    height: inherit;
    margin-right: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* --------------- BOTON HAMBURGER --------------- */

.btn-menu {
    width: 30px;
    margin: 0;
    display: none;
    cursor: pointer;
    z-index: 1000;
}

.line-1,
.line-2,
.line-3 {
    width: inherit;
    height: 5px;
    background-color: #ffffff;
    margin: 3px 0px;
    transition: 0.5s;
}

.active .line-1 {
    transform: rotate(-45deg) translate(-2px, -7px); /*-8,0*/
    position: absolute;
} 

.active .line-2 {
    opacity: 0;
}

.active .line-3 {
    transform: rotate(45deg) translate(-13px, -6px); /*-7,0*/
    position: absolute;
}

/* --------------- MAIN --------------- */

.main {
    width: 100%;
    
}

.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider ul {
    display: flex;
    padding: 0;
    /* margin: 0; */
    margin-right: 0;
    width: 500%;
    
    /* Nombre de la regla (animation) */
    animation-name: changes;
    /* Tiempo de duración del ciclo */
    animation-duration: 20s;
    /* Numeros de veces que se repite */
    animation-iteration-count: infinite; 
    /* Indica si debe retroceder al inicio */
    animation-direction: alternate;
    /* Indica la misma velocidad */
    animation-timing-function: linear; 
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

/* --- Stop (paradas) --- */

@keyframes changes {
    /* Del 0 al 20% este la 1° imagen por 3s
       La transicion de una imagen a otra es de 1s */
    0% {margin-left: 0;} 
    15% {margin-left: 0;}     

    /* Del 20 al 35% este la 2° imagen  por 3s */
    20% {margin-left: -100%;} 
    35% {margin-left: -100%;} 

    /* Del 40 al 55% este la 3° imagen  por 3s */
    40% {margin-left: -200%;} 
    55% {margin-left: -200%;} 

    /* Del 60 al 75% este la 4° imagen  por 3s */
    60% {margin-left: -300%;} 
    75% {margin-left: -300%;} 

    /* Del 80 al 100% este la 5° imagen  por 3s */
    80% {margin-left: -400%;} 
    100% {margin-left: -400%;} 
}

.main-name {
    width: 90vw;
    height: 30vh;
    position: absolute;
    top: calc(50% - 15vh);
    left: calc(50% - 45vw);
    text-align: center;
    margin: auto;
}

.main-name h1 {          
    font-weight: bold;         
    letter-spacing: 3px;         
    margin: 0;
    font-size: 10vw;   
    color: #ffffff;
}

.main-name h3 {
    font-weight: bold;  
    letter-spacing: 3px;
    margin: 0;
    font-size: 2vw;    
    color: #000000;
}

/* --------------- PRODUCTS --------------- */

.products {
    padding: 3.8rem 3.2rem 0px 3.2rem;
}

.product {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product-text {
    width: 48%;
}

.product-title {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.product-description {
    line-height: 1.8rem;
    font-size: 1rem;
}

.product-container_image {
    width: 48%;
    height: 404px;
    margin: 0;
}

.product-image {
    width: 100%;
    height: inherit;
    border-radius: 40px;
}

/* --------------- ABOUT-US --------------- */

.about-us {
    padding: 3.8rem 3.2rem 0px 3.2rem;
}

.about {
    padding: 3.8rem 6.3rem 0px 6.3rem;
    text-align: center;
}

.about-company {
    text-align : justify;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.line-horizontal {
    margin-top: 5%;
}

.about-company_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
}

.about-mision_vision {
    width: 45%;
    text-align: center;
}

.about-mision_vision h3 {
    margin-bottom: 1.9rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.about-mision_vision p {
    line-height: 1.8rem;
    font-size: 1.1rem;
}

.about-political {
    padding: 3.8rem 3.2rem 0px 3.2rem;
}

.about-political h3 {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
}

.about-political_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3%;
}

.about-political_details {
    width: 30%;
    text-align: center;
}

.about-political_details h4 {
    padding: 0.63rem 0px 1.3rem 0px;
    letter-spacing: 2px;
    text-align: center;
}

.about-political_details p {
    font-size: 1rem;
}

/* --------------- CONTACTS --------------- */

.contacts {
    padding: 3.8rem 3.2rem 1.9rem 3.2rem;
    /* background-color: #d2f5e3; */
}

.contact {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form {
    display: block;
    padding-right: 5%;
    width: 45%;
}

input, textarea  {
    display: block;
    margin-bottom: 1.3rem;
    border: solid 1px #333333;
    border-radius: 5px;
    padding: 0.63rem;
    outline: none;
    width: 100%;
    font-size: 1rem;
}

textarea {
    /* No se pueda estirar la caja */
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

button  {
    display: block;
    padding: 0.63rem 1.9rem;
    cursor: pointer;
    font-size: 1.3rem;
    border: 1px solid #184d47;
    background-color: #184d47;
    border-radius: 5px;
    color: #ffffff;
} 

.line-vertical {
    background-color: #333333;
    width: 3px;
    height: 350px;
}

.contact-menu {
    display: block;
    padding-left: 5%;
    width: 45%;
}

.contact-menu li {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1.6rem;
    font-size: 1.3rem;
    color: #000000;
}

.contact-menu li img {
    width: 25px;
    height: 25px;
    margin-right: 0.63rem;
}

/* --------------- FOOTER --------------- */

.footer {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3.2rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.footer img {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
} 

.footer p {
    color: #ffffff;
}

/* --------------- WRAPPER --------------- */

.wrapper {
    max-width: 1024px; 
    flex: 1; 
    height: inherit;
    margin: 0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    align-items: inherit;
}

/* --------------- MEDIA QUERIES --------------- */

@media screen and (max-width: 768px) {
    .header {
        padding: 0 1rem;
    }

    .header a, .header figure  {
        margin: 0;
    }

    .btn-menu {
        display: block;
        margin-left: 1rem;
    }

    .menu-items {
        position: absolute;
        z-index: 900;
        top: -200vh;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color:rgba(41, 41, 41, 0.9);
        text-align: center;
        transition: all 1s;
        flex-direction: column;
    }

    .menu-items.show {
        display: block;
        top: 60px;
    }

    .menu-items li {
        margin-top: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 0;    
    }


}